<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porównanie danych OSM z WTP</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <span>
    {% for ref in refs %}
        <a href="#{{ ref }}">{{ ref }}</a>
    {% endfor %}
    </span>
    {% for ref, result in renderResults.items() %}
        <h1 id="{{ ref }}">Wyniki dla {{ ref }}</h1>
        {% for routeResult in result["routeResults"] %}
        {% set route = routeResult.route %}
        <h3>
            Błąd dla {{ route.osmName }}:
            <a href="{{ route.wtpLink }}">WTP</a>
            <a href="https://osm.org/relation/{{ route.osmId }}">OSM</a>
            <a target="hiddenIframe" href="http://127.0.0.1:8111/load_object?new_layer=false&relation_members=true&objects=r{{ route.osmId }}">JOSM</a>
        </h3>
        <table>
            <thead><tr><th>OSM ref</th><th>OSM name</th><th>WTP ref</th><th>WTP name</th></thead>
            {% for row in routeResult.diffRows %}
                <tr style="color: {{ row.color }};">
                    <td>{{ row.refOSM }}</td>
                    <td>{{ row.nameOSM }}</td>
                    <td>{{ row.refOperator }}</td>
                    <td>{{ row.nameOperator }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        {% endfor %}
        {% if result["success"] %}
            <span>Wszystko ok!</span>
        {% endif %}
    {% endfor %}
    <h1>Inne błędy</h1>

    {% if disusedStop %}
        <h2>Przystanek z disused w tagu</h2>
        {% for link in disusedStop %}
            <a href="{{ link }}">{{ link }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if manyLastStops %}
        <h2>WTP: Wiele przystanków końcowych</h2>
        {% for (link, stops) in manyLastStops %}
            <a href="{{ link }}">{{ stops }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if missingLastStop %}
        <h2>WTP: Brakujący przystanek końcowy</h2>
        {% for (osmUrl, wtpUrl) in missingLastStop %}
            <a href="{{ osmUrl }}">{{ osmUrl }}</a>: <a href="{{ wtpUrl }}">{{ wtpUrl }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if missingName %}
        <h2>Brakująca nazwa</h2>
        {% for link in missingName %}
            <a href="{{ link }}">{{ link }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if missingRef %}
        <h2>Brakujący ref</h2>
        {% for link in missingRef %}
            <a href="{{ link }}">{{ link }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if missingRouteUrl %}
        <h2>Brakujący url dla trasy</h2>
        {% for link in missingRouteUrl %}
            <a href="{{ link }}">{{ link }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if unexpectedLink %}
        <h2>Niespodziewany link dla trasy</h2>
        {% for (link, value) in unexpectedLink %}
            <a href="{{ link }}">{{ value }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if unexpectedNetwork %}
        <h2>Niespodziewany network dla trasy</h2>
        {% for (link, network) in unexpectedNetwork %}
            <a href="{{ link }}">{{ network }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if unexpectedRef %}
        <h2>Niespodziewany ref</h2>
        {% for (link, ref) in unexpectedRef %}
            <a href="{{ link }}">{{ ref }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if notLinkedWtpUrls %}
        <h2>Linki do rozkładów WTP nielinkowane z żadnej relacji</h2>
        {% for link in notLinkedWtpUrls %}
            <a href="{{ link }}">{{ link }}</a><br/>
        {% endfor %}
    {% endif %}

    <span>Początek generowania: {{ startTime }}. Zajęło {{ generationSeconds }} sekund</span>
    <iframe style="display:none;" id="hiddenIframe" name="hiddenIframe"></iframe>
</body>
</html>
