<iframe style="display:none;" id="hiddenIframe" name="hiddenIframe"></iframe>
<footer>
    Początek generowania: {{ startTime }}. Zajęło {{ generationSeconds }} sekund.
    Źródło danych: <a href="https://osm.org/copyright/pl">© autorzy OpenStreetMap</a> oraz <a href="https://wtp.waw.pl">Warszawski Transport Publiczny</a>.
    Kod na <a href="https://github.com/starsep/osm-wtp">GitHubie</a>. Proszę tam zgłaszać błędy w skrypcie.
</footer>