<!DOCTYPE html>
<html lang="pl">
{% include "head.j2" %}
<body>
    {% include "nav.j2" %}
    <p>
        Na tej stronie można znaleźć porównanie danych transportu publicznego OpenStreetMap oraz Warszawskiego Transportu Publicznego.
        Strona <a href="https://wtp.waw.pl">wtp.waw.pl</a> ma czasami błędy. Nie należy ślepo wierzyć i kopiować.
        Nie zaleca się tworzyć zmian krótkoterminowych np. na weekend, na 1 listopada.
        Dane z OSM są aktualizowane co godzinę, WTP raz na dobę.
        Rozkład WTP brany jest z pierwszego dnia, kiedy dana linia jest dostępna np. poniedziałek dla linii niejeżdżącej w weekendy.
        Więcej szczegółów <a href="https://starsep.com/pl/posts/osm-wtp/">w tym artykule</a>.
        W razie problemów proszę o kontakt na <a href="https://osm.org/message/new/starsep">OSM</a>.
        Aktualnie nie są porównywane linie metra{%if not ENABLE_TRAIN %} oraz kolejowe{% endif %}.
    </p>
    <h1>Lista linii</h1>
    <span>
    {% for ref in refs %}
        {% if renderResults[ref]["routeMismatch"] %}
            <a href="#{{ ref }}">{% if renderResults[ref]["detourOnlyErrors"] %}&#10006;{% else %}&#10060;{% endif %}{{ ref }}</a>
        {% elif renderResults[ref]["error"] %}
            <a href="#{{ ref }}">&#9888;{{ ref }}</a>
        {% else %}
            <span>{{ ref }}</span>
        {% endif %}
    {% endfor %}
    </span>
    <h3>Legenda:</h3>
    <span>&#10060; trasa bez objazdów nie pasuje</span>
    <span>&#10006; trasa objazdowa nie pasuje</span>
    <span>&#9888; inne błędy</span>
    {% for ref, result in renderResults.items() %}
        {% if result["error"] %}
        <h1 id="{{ ref }}">Wyniki dla {{ ref }}</h1>
        {% for variantResult in result.variantResults %}
        {% set variant = variantResult.variant %}
        {% if variantResult.diffRows or variantResult.otherErrors %}
        <h3>
            Błąd dla {{ variant.osmName }}
            {% if variant.detour %}<span title="Trasa objazdowa">&#x1F7E0;</span>{% endif %}
            {% if variant.new %}<span title="Nowa trasa">&#x1F535;</span>{% endif %}
            {% if variant.short %}<span title="Trasa skrócona">&#x1F7E1;</span>{% endif %}
            <a href="{{ variant.operatorLink }}">WTP</a>
            <a href="https://osm.org/relation/{{ variant.osmId }}">OSM</a>
            <a target="hiddenIframe" href="http://127.0.0.1:8111/load_object?new_layer=false&relation_members=true&objects=r{{ variant.osmId }}">JOSM</a>
            {% if variant.routeType in ["bus", "tram"] %}
                <a href="https://relatify.monicz.dev/?relation={{ variant.osmId }}&load=1">Relatify</a>
            {% endif %}
        </h3>
        {% endif %}
        {% if variantResult.diffRows %}
        <table>
            <thead><tr><th>OSM ref</th><th>OSM name</th><th>WTP ref</th><th>WTP name</th></thead>
            {% for row in variantResult.diffRows %}
                <tr style="color: {{ row.color }};">
                    <td>{{ row.refOSM }}</td>
                    <td>{{ row.nameOSM }}</td>
                    <td>{{ row.refOperator }}</td>
                    <td>
                        {% if row.detour %}<span title="Trasa objazdowa">&#x1F7E0;</span>{% endif %}
                        {% if row.new %}<span title="Nowa trasa">&#x1F535;</span>{% endif %}
                        {{ row.nameOperator }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% for error in variantResult.otherErrors %}
            <span>⚠ {{ error }}</span>
        {% endfor %}
        {% endfor %}
    {% endif %}
    {% endfor %}
    <h1>Inne błędy</h1>

    {% if disusedStop %}
        <h2>Przystanek z disused w tagu używana w trasie</h2>
        {% for link in disusedStop %}
            <a href="{{ link }}">{{ link }}</a>
        {% endfor %}
    {% endif %}

    {% if wtpManyLastStops %}
        <h2>WTP: Wiele przystanków końcowych</h2>
        {% for (link, stops) in wtpManyLastStops %}
            <a href="{{ link }}">{{ stops }}</a>
        {% endfor %}
    {% endif %}

    {% if wtpMissingLastStop %}
        <h2>WTP: Brakujący przystanek końcowy</h2>
        {% for wtpUrl in wtpMissingLastStop %}
            <a href="{{ wtpUrl }}">{{ wtpUrl }}</a>
        {% endfor %}
    {% endif %}

    {% if missingRouteUrl %}
        <h2>Brakujący url dla trasy</h2>
        {% for (link, name) in missingRouteUrl %}
            <a href="{{ link }}">{% if name %}{{ name }}: {% endif %}{{ link }}</a>
        {% endfor %}
    {% endif %}

    {% if unexpectedLink %}
        <h2>Niespodziewany link dla trasy</h2>
        {% for (link, value) in unexpectedLink %}
            <a href="{{ link }}">{{ value }}</a>
        {% endfor %}
    {% endif %}

    {% if unexpectedNetwork %}
        <h2>Niespodziewany network dla trasy</h2>
        {% for (link, network) in unexpectedNetwork %}
            <a href="{{ link }}">{{ network }}</a>
        {% endfor %}
    {% endif %}

    {% if invalidWtpVariants %}
        <h2>Niedostępne warianty linii na WTP</h2>
        {% for (wtpLink, osmLink) in invalidWtpVariants %}
            <span><a href="{{ osmLink }}">OSM</a>: <a href="{{ wtpLink }}">{{ wtpLink }}</a></span>
        {% endfor %}
    {% endif %}

    {% if wtpLinkDuplicates %}
        <h2>Linki WTP linkowane z wielu relacji (duplikaty)</h2>
        {% for wtpLink in wtpLinkDuplicates %}
            <a href="{{ wtpLink }}">{{ wtpLink }}</a>
        {% endfor %}
    {% endif %}

    {% if notLinkedWtpUrls %}
        <h2>Linki do rozkładów WTP nielinkowane z żadnej relacji</h2>
        {% for link in notLinkedWtpUrls %}
            <a href="{{ link }}">{{ link }}</a>
        {% endfor %}
    {% endif %}

    {% include "footer.j2" %}
</body>
</html>
